.work-together{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #89BCD9;
    display: none;
    justify-content: center;
    margin-top: 40px;
}


@media(max-width: 1280px){
    .contact-me-prosa-wrapper{
        flex-direction: column;
        margin-right: unset;
        width: unset;
    }

    .contact-me-prosa{
        order: 2;
    }

    .work-together{
        display: flex;
    }

    .formular{
        margin-top: 50px;
    }

    .formular-data{
        flex-direction: column;
        align-items: center;
        width: unset;
    }

    .formular-msg-wrapper{
        width: 462px;
    }

    .formular-agree{
        width: 430px;
    }

    .terms-wrapper{
        justify-content: center;
    }

    .formular-send-wrapper{
        width: 462px;
    }

    .arrow-up-wrapper{
        display: none;
    }

    .arrow-up-wrapper-resp{
        display: flex;
    }
}


@media(max-width: 680px){
    .formular{
        margin: 100px 0 100px 0;
    }
}


@media(max-width: 530px){
    .contact-me-prosa{
        width: unset;
    }
}


@media(max-width: 530px){
    .formular-type-name, .formular-type-mail{
        width: 345px;
    }

    .formular-msg-wrapper{
        width: unset;
        display: flex;
        flex-direction: column;
    }

    .formular-type-msg{
        width: 370px;
    }

     .formular-agree{
        width: 370px;
    }

    .formular-send-wrapper{
        width: 360px;
    }
}


@media(max-width: 530px){
    .contact-me-prosa, .contact-me-mail, .contact-me-phone{
        padding: 0 32px;
    }
}


@media(max-width: 465px){
    .contact-me-contact{
        width: unset;
    }
}


@media(max-width: 420px){
    .contact-me-prosa, .contact-me-mail, .contact-me-phone{
        padding: 0 54px;
    }

    .formular-type-name, .formular-type-mail{
        width: 270px;
    }

    .formular-type-msg{
        width: 295px;
    }

     .formular-agree{
        width: 295px;
     }
    

    .formular-send-wrapper{
        width: 285px;
    }
}


@media(max-width: 380px){
    .contact-me-up-left h1{
        font-size: 48px;
    }

    .contact-me-prosa p{
        font-size: 16px;
    }

    .contact-me-contact{
        font-size: 16px;
    }

    .contact-me-prosa-wrapper{
        padding: 0 16px;
    }
}


@media(max-width: 355px){
    .contact-me-prosa, .contact-me-mail, .contact-me-phone{
        padding: unset;
    }
}

@media(max-width: 350px){
    .formular-type-name, .formular-type-mail{
        width: 230px;
    }

    .formular-type-msg{
        width: 255px;
    }

     .formular-agree{
        width: 255px;
     }

    .formular-send-wrapper{
        width: 245px;
    }
}