.work-together{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #89BCD9;
    display: none;
    justify-content: center;
    margin-top: 40px;
}


@media(max-width: 1280px){
    .contact-me-prosa-wrapper{
        flex-direction: column;
        margin-right: unset;
        width: unset;
    }

    .contact-me-prosa{
        order: 2;
    }

    .work-together{
        display: flex;
    }

    .formular{
        margin-top: 50px;
    }

    .formular-data{
        flex-direction: column;
        align-items: center;
        width: unset;
    }

    .formular-msg-wrapper{
        width: 462px;
    }

    .formular-agree{
        width: 462px;
    }

    .terms-wrapper{
        justify-content: center;
    }

    .formular-send-wrapper{
        width: 462px;
    }

    .arrow-up-wrapper{
        display: none;
    }

    .arrow-up-wrapper-resp{
        display: flex;
    }
}


@media(max-width: 680px){
    .formular{
        margin: 100px 0 100px 0;
    }
}

@media(max-width: 580px){
    .contact-me-prosa-wrapper{
        padding: 0 32px;
    }
}


@media(max-width: 538px){
    .contact-me-prosa-wrapper{
        width: 420px;
    }

    .contact-me-prosa{
        width: unset;
    }
}


@media(max-width: 500px){
    .formular{
        margin-right: unset;
        margin-left: unset;
        margin-bottom: unset;
    }

    .formular-data{
        width: 90%;
    }

    .formular-name-wrapper{
        width: 100%;
    }

    .formular-mail-wrapper{
        width: 100%;
    }

    .formular-type-name{
        width: unset;
    }

    .formular-type-mail{
        width: unset;
    }

    .formular-msg-wrapper{
        width: 90%;
    }

    .formular-send-wrapper{
        width: 90%;
    }

    .formular-agree{
        width: 90%;
    }

    .arrow-up-wrapper-resp{
        margin-top: 100px;
    }
}


@media(max-width: 380px){
    .contact-me-up-left h1{
        font-size: 50px;
    }

    .contact-me-prosa p{
        font-size: 16px;
    }

    .contact-me-contact{
        font-size: 16px;
    }

    .contact-me-prosa-wrapper{
        padding: 0 16px;
    }
}