.menu-index img{
    width: 50px;
    height: 50px;
}


@media (hover: none) {
    .bar-language-mobile:hover {
        cursor: auto;
    }
}


@media (max-width: 1240px){
    .top-right-middle-name{
        font-size: 70px;
    }

    .top-right-middle-property{
        font-size: 30px;
    }
}


@media (max-width: 1140px){

    .top-right-middle-name{
        font-size: 60px;
    }

    .top-right-middle-property{
        font-size: 24px;
    }
}


@media (max-width: 1140px){
    .bg-shape{
        width: 720px;
    }
}


@media (max-width: 990px){
    .top-right-middle-name{
        font-size: 48px;
    }

    .top-right-middle-property{
        font-size: 20px;
    }
}


@media (max-width: 900px){
    .why-me-body{
        flex-direction: column;
        align-items: center;
        gap: unset;
        margin-bottom: 50px;
    }

    .why-me-description-text{
        text-align: center;
    }

    .why-me-description-talk{
        display: none;
    }

    .skills-body{
        flex-direction: column;
    }

    .skills-body-left img:nth-child(9) {
        grid-column: 2;
    }

    .skills-body-left img:nth-child(10) {
        grid-column: 3;
    }

     

    .skills-body-right-p1-resp-wrapper{
        display: flex;
    }

    .skills-body-right-p1{
        display: none;
    }

    .skills-body-right{
        left: 330px;
        width: 116px;
        height: 120px;
    }

    .skills-body-right-p2{
        position: absolute;
        top: 10px;
        left: -380px;
    }

    .lets-talk-resp{
        display: flex;
    }

    .bg-shape{
        width: 600px;
    }
}






@media (max-width: 950px){
    .potrait{
        margin-top: -140px;
    }

    .potrait-img{
        left: 52%;
        top: 32%;
        width: 275px;
    }

    .bg-shape{
        height: 550px;
    }

    .top-right{
        margin-left: unset;
        width: unset;
        margin-top: -420px;
    }

    .top-right-middle{
        margin-top: -18px;
    }

    .top-right-middle-name{
        font-size: 36px;
    }

    .top-right-middle-property{
        font-size: 18px;
    }

    .arrow-down{
        margin-top: 20px;
    }

    .arrow-down img{
        margin-top: -16px;
        width: 30px;
    }

    .arrow-down:hover {
        background-color: initial;
        color: inherit;
        transform: none;
        box-shadow: none;
    }

    .w-100-bar{
        display: none;
    }

    .w-100-index-header{
        display: block;
    }

    .bar-logo-wrapper{
        margin-left: 40px;
    }

    .bar-mobile-wrapper{
        top: -430px;
    }

    .bar-mobile{
        height: 250px;
    }

    .footer-logo-wrapper{
        margin-left: unset;
    }

    .top-right-logo-wrapper{
        display: none;
    }

    .top-links{
        display: none;
    }

    .bar-under-logo-property {
        color: #89BCD9;
    }

    .bar-under-logo-property-footer{
        color: #262E34;
    }

    .menu-index{
        cursor: pointer;
        margin-right: 50px;
        z-index: 100;
    }

    .top{
        flex-direction: column;
    }

    .top-left{
        width: unset;
        padding-left: unset;
    }

    .bg-shape:hover {
        transform: none;
        filter: none;
    }
}


@media (max-width: 700px) {

    footer{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .footer-logo-wrapper{
        order: 1;
    }

    .footer-icons{
        order: 2;
        margin-right: unset;
    }

    .legal-wrapper{
        order: 3;
        flex-direction: row;
        margin-left: unset;
    }

    .footer-github{
        content: url("../img/github-footer-mobile.svg")
    }

    .footer-email{
        content: url("../img/email-footer-mobile.svg")
    }

    .footer-linked-in{
        content: url("../img/linkedin-footer-mobile.svg");
    }

    .footer-icons img:hover {
        filter: unset;
    }
}


@media (max-width: 622px){
    .bg-shape{
        width: 540px;
    }
}

@media (max-width: 600px){

    .top-right{
        top: -1010px;
    }
}


@media(max-width: 562px){
    .bg-shape{
        width: 500px;
    }

    .potrait-img{
        width: 250px;
    }
}

@media(max-width: 570px){
    .skills-body-right-p2{
        font-size: 16px;
        left: -162px;
        top: -30px;
        width: 150px;
    }

    .skills-body-right{
        left: 155px;
    }

    .skill-icon{
        width: 48px;
    }

    .skill-icon img{
        width: 40px;
    }
}


@media (max-width: 530px){
    .potrait-img{
        width: 260px;
    }

    .top-right{
        top: -840px;
    }

    .bar-mobile-wrapper {
        top: -430px;
    }

    .bar-mobile{
        height: unset;
    }

    .why-me-description-text p{
        padding: 0 16px;
    }

    .w-100-top{
        margin-bottom: unset;
    }
}

@media (max-width: 530px){
    .bg-shape{
        width: 460px;
    }

    .potrait-img{
        width: 235px;
    }
}


@media (max-width: 475px){
    .bg-shape{
        width: 440px;
    }

    .potrait-img{
        width: 220px;
    }

    .bar-mobile{
        font-size: 22px;
    }
}


@media (max-width: 455px){
    .bg-shape{
        width: 420px;
    }

    .potrait-img{
        width: 210px;
    }
}


@media (max-width: 435px){
    .bg-shape{
        width: 400px;
    }

    .potrait-img{
        width: 200px;
    }
}


@media (max-width: 430px){
    .bg-shape{
        width: 400px;
    }

    .potrait-img{
        width: 200px;
    }

    .top-left{
        margin-top: -90px;
    }

    .top-right{
        margin-top: -520px;
    }
}


@media (max-width: 420px){
    .bar-language-mobile{
        height: 50px;
    }

    .bar-mobile{
        margin-top: 10px;
        font-size: 20px;
    }

    .lang-en-parent-mobile{
        width: 50px;
    }

    .lang-de-parent-mobile{
        width: 50px;
    }

    .lang-mobile{
        width: 16px !important;
    }

    .location-p1, .location-p2{
        font-size: 20px;
    }

    .why-me-description-text p{
        font-size: 16px;
        padding: 0 16px;
    }

    .why-me-section h1{
        font-size: 50px;
    }

    .skills-section h1{
        font-size: 50px;
    }

    .skills-body-right-p1-resp-wrapper{
        font-size: 16px;
    }

    .skills-body-right-p1-resp-wrapper{
        font-size: 16px;
    }
}


@media (max-width: 415px){
    .bg-shape{
        width: 330px;
    }

    .potrait-img{
        width: 160px;
    }

    .bar-mobile-wrapper{
        width: 330px;
        height: 290px;
    }

    .bar-mobile{
        font-size: 16px;
        margin-top: 50px;
        width: 290px;
    }

    .bar-mobile a{
        height: 40px;
    }

    .bar-language-mobile{
        font-size: 16px;
        height: 40px;
        margin-top: unset;
    }
}


@media (max-width: 400px){
    .skill-icon img{
        width: 40px;
    }

    .skill-icon p{
        font-size: 16px;
    }

    .skills-body-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 38px;
    }
}


@media (max-width: 355px){
    .skills-body-left{
        gap: 30px;
    }
}


@media (max-width: 345px){
    .bg-shape{
        width: 300px;
    }

    .potrait-img{
        width: 150px;
    }

    .bar-mobile-wrapper{
        width: 300px;
    }
}


@media (max-width: 360px){
    .legal{
        font-size: 16px;
    }

    .legal-copy{
        font-size: 16px;
    }

    .legal-wrapper{
        gap: 8px;
    }
}


@media (max-width: 360px){
    h1{
        font-size: 40px;
    }
}