@font-face {
  font-family: 'Anta';
  src: url('./fonts/Anta/Anta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262E34;
}

.d-none{
    display: none !important;
}

.top{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    max-width: 1440px;
}

.top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.bg-shape {
    transition: transform 0.5s ease;
}

.bg-shape:hover {
    transform: rotate(20deg);
    filter: brightness(0) saturate(100%) invert(76%) sepia(17%) saturate(522%) hue-rotate(160deg) opacity(72%);
}

.potrait img {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 110px;
}

.top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}


.top-right-logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.top-right-logo img{
    width: 60px;
    height: 40px;
    left: 5px;
    opacity: 1;
    transition: transform 0.5s ease;
}
.top-right-logo img:hover{
    transform: scaleX(1.1);
}

.top-right-under-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-right-under-logo-name{
    color: #F8F5EC;
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0;
}

.top-right-under-logo-property{
    color: #89BCD9;
    font-family: Josefin Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0;
}

.top-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 24px;
}

.top-right-middle{
    color: #F8F5EC;
}

.top-right-middle-name{
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 88px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0;
}

.top-right-middle-property{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
}



.top-links-img-wrapper{
    display: flex;
    border-radius: 50px;
}

.arrow-down{
    border-radius: 50px;
}
.arrow-down:hover{
    background: #343e46;
    cursor: pointer;
}

.bar{
    max-width: 1440px;
    height: 104px;
    top: 746px;
    gap: 196px;
    opacity: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #89BCD9;
    display: flex;
    justify-content: space-between;
}

.bar-logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 90px;
}
.bar-logo-wrapper:hover{
    cursor: pointer;
}

.bar-logo img{
    width: 60px;
    height: 40px;
    left: 5px;
    opacity: 1;
}


.bar-under-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-under-logo-name{
    color: #F8F5EC;
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0;
}

.bar-under-logo-property{
    color: #262E34;
    font-family: Josefin Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0;
}

.bar-middle{
    display: flex;
    font-family: Josefin Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    justify-content: space-between;
    width: 700px;
}

.bar-middle p{
    color: #262E34;
    display: flex;
    align-items: center;
}
.bar-middle p:hover{
    cursor: pointer;
    color: white;
}

.bar-language{
    display: flex;
    align-items: center;
    margin-right: 90px;
}
.bar-language:hover{
    cursor: pointer;
}

.why-me-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.why-me-section h1{
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #89BCD9;
}

.why-me-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.location{
    display: flex;
    gap: 8px;
    align-items: center;
}

.location img{
    width: 50px;
}

.location-p1{
    font-family: Josefin Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #89BCD9
}

.location-p2{
    font-family: Josefin Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F8F5EC;
}

.why-me-description-text p{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F8F5EC;
}

.why-me-description-talk {
    display: flex;
    justify-content: end;
    
}

.why-me-description-talk p{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #89BCD9;
    border: 2px solid #89BCD9;
    border-radius: 50px;
    padding: 8px 16px;
}
.why-me-description-talk p:hover{
    cursor: pointer;
    background: #343e46;
}

.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.skills-section h1{
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #89BCD9;
}

.skills-body{
    display: flex;
    gap: 50px;
}

.skills-body-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
}

.skills-body-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease;

    position: relative;
}
.skills-body-right::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("img/ellipse.svg") no-repeat;
    background-size: contain;
    transition: transform 0.5s ease;
}

.skills-body-right:hover::before {
    transform: rotate(40deg);
    filter: brightness(1.5);
}


.skills-body-right-p1{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F8F5EC;
}

.skills-body-right-description{
    display: flex;
    flex-direction: column;
}

.skills-img-wrapper{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.skills-body-right-p2{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFDFD;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin-top: 32px;
}

.projects h1{
    font-family: Anta;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #89BCD9;
    text-align: center;
    margin: 90px 0;
}

.tabs{
    display: flex;
    font-family: Josefin Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #89BCD9;
    padding-left: 32px;
    gap: 48px;
    justify-content: center;
}

.tab-1, .tab-2, .tab-3, .tab-4{
    padding: 32px;
    min-width: 200px;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover, .tab-4:hover{
    color: #F8F5EC;
    cursor: pointer;
}

.chosen{
    color: #F8F5EC;
    background-color: #2D3840;
    border-radius: 50px 50px 0 0;
}

.projects-body{
    background-color: #2D3840;
    padding: 32px;
    font-family: Josefin Sans;
    display: flex;
    justify-content: center;
}

.da-bubble{
    display: flex;
    gap: 32px;
    height: 540px;
}

.da-bubble-description{
    color: #F8F5EC;
}

.da-bubble-dot{
    display: flex;
    gap: 16px;
}

.da-bubble-dot-p1{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.da-bubble-dot-p2{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.da-bubble-dot-p3{
    padding-left: 44px;
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 0;
}

.da-bubble-link-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.technologies{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #F8F5EC;
}

.technologies-icons{
    gap: 24px;
    display: flex;
}

.technologies-screenshot img{
    width: 450px;
    height: 300px;
    border-radius: 30px;
}

.link-buttons{
    display: flex;
    gap: 32px;
}

.test-btn{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    background-color: #89BCD9;
    border-radius: 30px;
    padding: 16px;
    min-width: 130px;
    color: #262E34;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.github-btn{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    background-color: #2D3840;
    border-radius: 30px;
    padding: 16px;
    min-width: 130px;
    color: #89BCD9;
    border: 2px solid #89BCD9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.test-btn:hover{
    background-color: #F8F5EC;
    cursor: default;
}

.github-btn:hover{
    background-color: #343e46;
    cursor: default;
}

.quote-section{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

.quote-section h2{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #89BCD9;
    margin: 80px;
}

.quotes-wrapper{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url("img/ellipse.svg") no-repeat; */
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease;
    position: relative;
}
.quotes::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("img/ellipse.svg") no-repeat;
    background-size: contain;
    transition: transform 0.5s ease;
}

.quotes:hover::before {
    transform: rotate(40deg);
    filter: brightness(1.5);
}





.quotes-p1{
    font-family: Josefin Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #F8F5EC;
}

.quotes-p2{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #F8F5EC;
}

.quotes-p2 span{
    color: #89BCD9;
}

.quotes-p3{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #F8F5EC;
}

.quotes-link{
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #89BCD9;
    text-align: center;
}